<?xml version="1.0" encoding="UTF-8"?>
<!--  -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>OnlineVoting</display-name>
  <servlet>
    <servlet-name>User</servlet-name>
    <servlet-class>com.onlinevoting.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForgotPassword</servlet-name>
    <servlet-class>com.onlinevoting.controller.ForgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPassword</servlet-name>
    <url-pattern>/forgotpassword</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>UserRegisterData</servlet-name>
    <servlet-class>com.onlinevoting.controller.UserRegisterData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterData</servlet-name>
    <url-pattern>/UserRegisterData</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>587</param-value>
  </context-param>
  <context-param>
    <param-name>email</param-name>
    <param-value>ec.onlinevote@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>OnlineVote@2019</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
</web-app>